{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form action="" method="post" style="width: 40%; margin:auto">
    <h3 style="text-align: center;">Update your Profile</h3>
    {% csrf_token %}
    <!-- {{ form | crispy }} -->
     {% for fm in form %}
     {{ fm.label_tag}}
     {{ fm }}
     {{ fm.errors }}
     {% endfor %}
     <br>
    <input type="submit" value="Submit" class="btn btn-success">
    <a href="{% url 'password_change'%}" class="btn btn-danger">Change password</a>
</form>
{% endblock %}